In [1]:
#importing packages
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading File
c19=pd.read_csv('covid19.csv')

In [3]:
#Data Set
c19

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [4]:
#Reading the top 5 rows
c19.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [5]:
#Reading 5 bottom rows
c19.tail()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [6]:
#Reading Mean Values of numerical columns
c19.mean()

Lat             21.433730
Long            23.528236
Confirmed    16884.904255
Deaths         884.179160
Recovered     7915.713479
Active        8085.011617
dtype: float64

In [7]:
#Checking Information About Data Set
c19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [8]:
#Reading the 20 random rows 
c19.sample(20)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
7246,NaN,Spain,40.463667,-3.749220,2020-02-18,2,0,2,0,Europe
6248,Anguilla,United Kingdom,18.220600,-63.068600,2020-02-14,0,0,0,0,Europe
9180,NaN,Central African Republic,6.611100,20.939400,2020-02-26,0,0,0,0,Africa
12357,Faroe Islands,Denmark,61.892600,-6.911800,2020-03-09,2,0,0,2,Europe
1819,Saint Pierre and Miquelon,France,46.885200,-56.315900,2020-01-28,0,0,0,0,Europe
18587,Hainan,China,19.195900,109.745300,2020-04-02,168,6,162,0,Western Pacific
43759,NaN,North Macedonia,41.608600,21.745300,2020-07-07,7244,351,3324,3569,Europe
10933,NaN,Syria,34.802075,38.996815,2020-03-03,0,0,0,0,Eastern Mediterranean
26608,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2020-05-02,12,1,5,6,Europe
33918,NaN,Burundi,-3.373100,29.918900,2020-05-30,63,1,33,29,Africa
29842,NaN,Cyprus,35.126400,33.429900,2020-05-15,910,17,481,412,Europe
18256,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2020-03-31,5,0,0,5,Europe
34188,NaN,Comoros,-11.645500,43.333300,2020-05-31,106,2,26,78,Africa
4332,NaN,Mexico,23.634500,-102.552800,2020-02-07,0,0,0,0,Americas
19063,Northern Territory,Australia,-12.463400,130.845600,2020-04-04,26,0,1,25,Western Pacific
23691,NaN,Sudan,12.862800,30.217600,2020-04-21,107,12,8,87,Eastern Mediterranean
33048,NaN,Namibia,-22.957600,18.490400,2020-05-27,22,0,14,8,Africa
47871,Mayotte,France,-12.827500,45.166244,2020-07-23,2862,38,2650,174,Europe
18527,NaN,Yemen,15.552727,48.516388,2020-04-01,0,0,0,0,Eastern Mediterranean
3600,NaN,Thailand,15.870032,100.992541,2020-02-04,25,0,5,20,South-East Asia

In [9]:
#to find the sum of null values

In [10]:
c19.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [11]:
#Finding Null Value Percentage 
c19.isnull().mean()*100

Province/State    70.114943
Country/Region     0.000000
Lat                0.000000
Long               0.000000
Date               0.000000
Confirmed          0.000000
Deaths             0.000000
Recovered          0.000000
Active             0.000000
WHO Region         0.000000
dtype: float64

# Here Dropong Null Value Columns Beacouse of more Than 20% Null Value In A column Called Province/State

In [12]:
# Dropong Null Value Columns Beacouse of more Than 20% Null Value In A column Called Province/State  
c19.drop(columns='Province/State',inplace=True)

In [13]:
c19

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

## Here Renaming A column because of the column named WHO Region having only space

In [14]:
c19.rename(columns={'WHO Region':'WHO_Region'},inplace=True)

In [15]:
c19

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO_Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

# Here Droping 2 columns naming Lat& Long becuase of dont want that into analysis

In [37]:
c19.drop(columns=['Lat','Long'],inplace=True)

In [38]:
c19

,Country_Region,Date,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,2020-01-22,0,0,0,0,Europe,2020,1,22
2,Algeria,2020-01-22,0,0,0,0,Africa,2020,1,22
3,Andorra,2020-01-22,0,0,0,0,Europe,2020,1,22
4,Angola,2020-01-22,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa,2020,7,27
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,2020-07-27,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,2020-07-27,505,12,128,365,Africa,2020,7,27

In [18]:
c19.rename(columns={'Country/Region':'Country_Region'},inplace=True)

In [19]:
c19

,Country_Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO_Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [39]:
c19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Region  49068 non-null  object
 1   Date            49068 non-null  datetime64[ns]
 2   Confirmed       49068 non-null  int64
 3   Deaths          49068 non-null  int64
 4   Recovered       49068 non-null  int64
 5   Active          49068 non-null  int64
 6   WHO_Region      49068 non-null  object
 7   year            49068 non-null  int64
 8   month           49068 non-null  int64
 9   day             49068 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(2)
memory usage: 3.7+ MB

In [21]:
c19['Date']=pd.to_datetime(c19.Date)

In [22]:
c19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Region  49068 non-null  object
 1   Lat             49068 non-null  float64
 2   Long            49068 non-null  float64
 3   Date            49068 non-null  datetime64[ns]
 4   Confirmed       49068 non-null  int64
 5   Deaths          49068 non-null  int64
 6   Recovered       49068 non-null  int64
 7   Active          49068 non-null  int64
 8   WHO_Region      49068 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 3.4+ MB

In [23]:
c19

,Country_Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO_Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [24]:
c19['year']=pd.DatetimeIndex(c19.Date).year

In [25]:
c19['month']=pd.DatetimeIndex(c19.Date).month

In [26]:
c19['day']=pd.DatetimeIndex(c19.Date).day

In [27]:
c19

,Country_Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe,2020,1,22
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa,2020,1,22
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe,2020,1,22
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa,2020,7,27
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa,2020,7,27

In [43]:
c19.month.replace({ 1:'JAN',
    2:'FEB',
    3:'MAR',
    4:'APR',
    5:'MAY',
    6:'JUN',
    7:'JUL',
    8:'AUG',
    9:'SEP',
    10:'OCT',
    11:'NOV',
    12:'DEC'},inplace=True)

In [29]:
c19.month.unique()

array([1, 2, 3, 4, 5, 6, 7], dtype=int64)

In [30]:
c19.day.unique()

array([22, 23, 24, 25, 26, 27, 28, 29, 30, 31,  1,  2,  3,  4,  5,  6,  7,
        8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21],
      dtype=int64)

In [44]:
c19

,Country_Region,Date,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,JAN,22
1,Albania,2020-01-22,0,0,0,0,Europe,2020,JAN,22
2,Algeria,2020-01-22,0,0,0,0,Africa,2020,JAN,22
3,Andorra,2020-01-22,0,0,0,0,Europe,2020,JAN,22
4,Angola,2020-01-22,0,0,0,0,Africa,2020,JAN,22
...,...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa,2020,JUL,27
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020,JUL,27
49065,Comoros,2020-07-27,354,7,328,19,Africa,2020,JUL,27
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe,2020,JUL,27
49067,Lesotho,2020-07-27,505,12,128,365,Africa,2020,JUL,27

In [32]:
c19.info(

)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country_Region  49068 non-null  object
 1   Lat             49068 non-null  float64
 2   Long            49068 non-null  float64
 3   Date            49068 non-null  datetime64[ns]
 4   Confirmed       49068 non-null  int64
 5   Deaths          49068 non-null  int64
 6   Recovered       49068 non-null  int64
 7   Active          49068 non-null  int64
 8   WHO_Region      49068 non-null  object
 9   year            49068 non-null  int64
 10  month           49068 non-null  int64
 11  day             49068 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(2)
memory usage: 4.5+ MB

In [40]:
c19.month.replace({1:"january",
                 2:"february",
                 3:"march",
                 4:"april",
                 5:"june",
                 6:"july",
                 7:"august",
                 8:"april",
                 9:"september",
                 10:"october",
                 11:"november",
                 12:"december"})

0        january
1        january
2        january
3        january
4        january
          ...
49063     august
49064     august
49065     august
49066     august
49067     august
Name: month, Length: 49068, dtype: object

In [41]:
c19

,Country_Region,Date,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,2020-01-22,0,0,0,0,Europe,2020,1,22
2,Algeria,2020-01-22,0,0,0,0,Africa,2020,1,22
3,Andorra,2020-01-22,0,0,0,0,Europe,2020,1,22
4,Angola,2020-01-22,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa,2020,7,27
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,2020-07-27,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,2020-07-27,505,12,128,365,Africa,2020,7,27

In [42]:
c19

,Country_Region,Date,Confirmed,Deaths,Recovered,Active,WHO_Region,year,month,day
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1,22
1,Albania,2020-01-22,0,0,0,0,Europe,2020,1,22
2,Algeria,2020-01-22,0,0,0,0,Africa,2020,1,22
3,Andorra,2020-01-22,0,0,0,0,Europe,2020,1,22
4,Angola,2020-01-22,0,0,0,0,Africa,2020,1,22
...,...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa,2020,7,27
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020,7,27
49065,Comoros,2020-07-27,354,7,328,19,Africa,2020,7,27
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe,2020,7,27
49067,Lesotho,2020-07-27,505,12,128,365,Africa,2020,7,27